// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&display=swap');